@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
	font-family: Inter, sans-serif;
	color: rgba(255, 255, 255, 0.95);
	background-color: #000000;
	margin: 0;
}

a {
	color: rgba(255, 255, 255, 0.95);
	text-decoration: none;
}

p {
	color: #dde4fd80;
	line-height: 1.5;
}

h1 {
	font-family: Epilogue, sans-serif;
	font-size: 4em;
	font-weight: 600;
	letter-spacing: -0.02em;
	margin: 0;
}

.backdrop {
	background-image: url("assets/backdrop.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	width: 100%;
	height: 70em;
	position: absolute;
	z-index: -1;
}

.blur {
	-webkit-backdrop-filter: blur(1em);
	backdrop-filter: blur(1em);
}

.button {
	display: flex;
	align-items: center;
	gap: 0.5em;
	color: rgba(0, 0, 0, 0.9);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0.5em;
	padding: 0 0.75em;
	width: fit-content;
	height: 2.75em;
	transition: 0.2s;

	p {
		color: rgba(0, 0, 0, 0.9);
	}

	&:hover {
		background-color: rgba(255, 255, 255, 1);
	}
}

.button-secondary {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(255, 255, 255, 0.1);
	border: 1.5px solid rgba(255, 255, 255, 0.1);
	box-sizing: border-box;

	p {
		color: rgba(255, 255, 255, 0.9);
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

@media (max-width: 30em) {
	.download-button {
		p {
			display: none;
		}
		&:after {
			content: "Download";
		}
	}

	.invite-button {
		p {
			display: none;
		}
		&:after {
			content: "Discord";
		}
	}
}
